# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':

  'atom-text-editor': [
    {
      'label': 'Packages'
      'submenu': [
        'label': 'Secure Copy',
        'submenu': [
          { 'label': 'Upload Current File', 'command': 'secure-copy:upload-current-file' }
          { 'label': 'Upload Git Changed Files', 'command': 'secure-copy:upload-git-changed' }
        ]
      ]
    }
  ]
